@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.header{
    padding: 1rem 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: darken(map-get(variables.$baseVars, "background"), 1%);

    &__logo{
        @include mixins.flexBox;

        &--image{
            width: 12rem;
            object-fit: contain;
        }
    }

    &__navigation{
        @include mixins.flexBox;
        gap: 2rem;
    }
    &__link{
        text-decoration: none;
        color: map-get(variables.$baseVars, "color");
        font-size: 80%;

        &:hover{
            cursor: pointer;
            color: map-get(variables.$colorVars, "selectiveyellow");
        }
    }
    &__user{
        @include mixins.flexBox;
        gap: 2rem;

        &--name{
            text-transform: uppercase;
            font-size: 80%;
        }

        &--wrapper{
            position: relative;
            &:hover .header__user--options{
                display: flex;
            }
        }

        &--create{
            border: none;
            @include mixins.yellowbutton;
            font-size: 75%;
        }

        &--options{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            background: map-get(variables.$colorVars, "selectiveyellow");
            display: none;
            position: absolute;
            width: 100%;

            &-option{
                padding: 0.2rem;
                text-decoration: none;
                color: map-get(variables.$baseVars, "color");
                border-bottom: 0.2rem solid white;
                width: 100%;
            }
        }
    }

    &__auth{
        @include mixins.flexBox;
        gap: 1rem;
        font-size: 80%;
        
        &--login{
            text-decoration: none;
            color: map-get(variables.$baseVars, "color");
            @include mixins.bluebutton;
        }

        &--register{
            text-decoration: none;
            color: map-get(variables.$baseVars, "color");
            @include mixins.redbutton;
        }

    }
}