@use "../../abstracts/variables";
@use "../../abstracts/mixins";

$colors: purplejam, orangereds, selectiveyellow;

.about{
    padding: 2rem 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;

    &__title{
        font-size: 100%
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        font-size: 85%;
        padding: 1rem;
        border-radius: 0.4rem;
    
        @each $color in $colors{
            &--#{$color}{
                background: map-get(variables.$colorVars, $color);
            }
        }
    }
}