@use "variables";
@use "mixins";

body{
    background: map-get(variables.$baseVars, "background");
    min-height: 100vh;
    font-size: 2rem;
    font-family: map-get(variables.$baseVars, "font");
    color: map-get(variables.$baseVars, "color");
}