@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.home{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    width: 100%;
    padding: 2rem 20rem;
}

.heading{
    @include mixins.flexBox;
    flex-direction: column;
    gap: 2rem;
    width: 60%;

    &__video{
        width: 100%;
    }

    &__info{
        background: map-get(variables.$colorVars, "purplejam");
        padding: 2rem;
        border-radius: 0.4rem;
    }
}

.welcome{
    width: 100%;
    padding: 2rem 20rem;
    @include mixins.flexBox;
    gap: 2rem;

    &__link{
        @include mixins.flexBox;
        text-decoration: none;
        color: map-get(variables.$baseVars, "color");
    }

    &__item{
        background: map-get(variables.$colorVars, "orangereds");
        padding: 1rem;
        border-radius: 0.4rem;

        &--title{
            font-size: 100%;
        }
        
        &--info{
            font-size: 90%;
        }
    }
}