@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.information{
    padding: 2rem;
    &__text{
        color: map-get(variables.$accentVars, "yellow");
        font-weight: 600;
    }
}