@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: #020d16;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.login__form {
  background: #e03344;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
}
.login__form--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
}
.login__form--label {
  font-size: 80%;
}
.login__form--input {
  border: none;
  padding: 0.4rem;
  font-size: 90%;
  border-radius: 0.4rem;
}
.login__form--remember {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 80%;
}
.login__form--remember-checkbox {
  appearance: none;
  background: white;
  width: 1.4rem;
  aspect-ratio: 1/1;
  border-radius: 0.2rem;
}
.login__form--remember-checkbox:checked {
  background: #5E3289;
}
.login__form--request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 1rem;
}
.login__form--request-link {
  font-size: 80%;
  color: #fff;
  text-decoration: none;
}
.login__form--request-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #43b3c4;
}
.login__form--submit {
  background: #5E3289;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
  background: #020d16;
  border: none;
}
.login__form--submit:hover {
  background: #592f82;
}
.login__form--submit:hover {
  background: #03131f;
}

.header {
  padding: 1rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #020a11;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo--image {
  width: 12rem;
  object-fit: contain;
}
.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header__link {
  text-decoration: none;
  color: #fff;
  font-size: 80%;
}
.header__link:hover {
  cursor: pointer;
  color: #efbf0d;
}
.header__user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header__user--name {
  text-transform: uppercase;
  font-size: 80%;
}
.header__user--wrapper {
  position: relative;
}
.header__user--wrapper:hover .header__user--options {
  display: flex;
}
.header__user--create {
  border: none;
  background: #efbf0d;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
  font-size: 75%;
}
.header__user--create:hover {
  background: #e5b70c;
}
.header__user--options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: #efbf0d;
  display: none;
  position: absolute;
  width: 100%;
}
.header__user--options-option {
  padding: 0.2rem;
  text-decoration: none;
  color: #fff;
  border-bottom: 0.2rem solid white;
  width: 100%;
}
.header__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 80%;
}
.header__auth--login {
  text-decoration: none;
  color: #fff;
  background: #43b3c4;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
}
.header__auth--login:hover {
  background: #3cafc0;
}
.header__auth--register {
  text-decoration: none;
  color: #fff;
  background: #e03344;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
}
.header__auth--register:hover {
  background: #df2a3c;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  padding: 2rem 30rem;
}
.home .heading {
  display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}
.home .heading__video {
  margin-top: 3.9rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home .heading__info {
  background: #5E3289;
  padding: 2rem;
  border-radius: 0.4rem;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.events {
  width: 100%;
  padding: 2rem;
  background: none !important;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.events__create {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #43b3c4;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}
.events__create:hover {
  background: #3393a1;
}
.events__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.events__form--input, .events__form--date, .events__form--textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}
.events__form--textarea {
  resize: none;
  height: 10rem;
}
.events__form--submit {
  background: #43b3c4;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.events__form--submit:hover {
  background: #3393a1;
}
.events__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  min-height: 50rem;
}
.events__wrapper .tile__wrapper {
  width: 100%;
  max-width: 60rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.events__wrapper .tile__wrapper .row {
  display: flex;
  flex-wrap: wrap;
}
.events__wrapper .tile__wrapper .col-12 {
  width: 100%;
}
.events__wrapper .tile__wrapper .col-md-3 {
  width: 25%;
}
.events__wrapper .tile__wrapper .col-md-9 {
  width: 75%;
}
.events__wrapper .tile__wrapper .tile__image {
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem 0 0 0.5rem;
}
.events__wrapper .tile__wrapper .tile__image.tile__image-wide {
  display: none;
}
@media (min-width: 768px) {
  .events__wrapper .tile__wrapper .tile__image.tile__image-normal {
    display: none;
  }
  .events__wrapper .tile__wrapper .tile__image.tile__image-wide {
    display: block;
    height: 100%;
  }
}
.events__wrapper .tile__wrapper .tile__content {
  padding: 1.5rem;
  text-align: left;
}
.events__wrapper .tile__wrapper .tile__content .calendar-item__title {
  font-size: 2rem;
  font-weight: bold;
  color: #5E3289;
  text-decoration: none;
  margin-bottom: 1rem;
}
.events__wrapper .tile__wrapper .tile__content .calendar-item__date {
  font-size: 1.6rem;
  color: #818181;
  margin-bottom: 1rem;
}
.events__wrapper .tile__wrapper .tile__content .calendar-item__text {
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.events__wrapper .tile__wrapper .tile__content .calendar-item__text.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
  text-overflow: unset;
}
.events__wrapper .tile__wrapper .tile__content .calendar-item__text .learn-more-link {
  color: #43b3c4;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.events__wrapper .tile__wrapper .tile__content .calendar-item__text .learn-more-link:hover {
  text-decoration: underline;
}
.events__empty {
  font-size: 1.6rem;
  text-align: center;
}
.events__pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.events__pagination--btn {
  background: none;
  border: none;
  font-size: 2rem;
  color: #43b3c4;
  cursor: pointer;
  transition: color 0.3s;
}
.events__pagination--btn:disabled {
  cursor: not-allowed;
}
.events__pagination--btn:hover:not(:disabled) {
  color: #3393a1;
}
.events__pagination--btn--previous::before {
  content: "←";
  margin-right: 0.5rem;
}
.events__pagination--btn--next::before {
  content: "→";
  margin-left: 0.5rem;
}

.welcome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.welcome__link {
  width: 22%;
  color: #fff;
  text-decoration: none;
  transition: 0.4s all;
}
.welcome__link:focus {
  outline: none;
}
.welcome__link:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.welcome__figure {
  width: 100%;
  height: 20rem;
  position: relative;
  transition: 0.4s all;
}
.welcome__figure:hover .welcome__figure--title {
  opacity: 1;
}
.welcome__figure--title {
  position: absolute;
  background: rgba(0, 0, 255, 0.4);
  width: 80%;
  display: flex;
  justify-content: end;
  top: 10%;
  right: 0;
  padding: 1rem;
  opacity: 0;
  transition: 0.4s all;
  border-radius: 1rem 0 0 1rem;
}
.welcome__figure--image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0 3rem 0 0;
  background: pink;
}
.welcome__item {
  padding: 2rem 1rem 4rem 1rem;
  background: #5E3289;
  font-size: 80%;
  border-radius: 0 0 0 3rem;
}
.welcome__item--info {
  overflow: hidden;
  overflow-y: scroll;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  padding: 0.4rem;
}
.welcome__item--info::-webkit-scrollbar {
  display: none;
}

.posts {
  width: 100%;
  padding: 0 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.1rem;
}
.posts__amount {
  color: #a19f9f;
  font-size: 80%;
}
.posts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  border-top: 0.1rem solid #a19f9f;
}

.post {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding: 1rem 0;
}
.post__image {
  height: 15rem;
  width: 18rem;
  object-fit: cover;
}
.post__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.2rem;
}
.post__info--link {
  text-decoration: none;
  color: #fff;
}
.post__info--link-title {
  font-size: 140%;
}
.post__info--link-title:hover {
  cursor: pointer;
  color: #efbf0d;
}
.post__info--intro {
  color: #a19f9f;
  font-size: 90%;
}

.single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem 20rem;
  gap: 2rem;
}
.single__details {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
.single__details--functions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.single__details--functions-edit {
  text-decoration: none;
  background: #43b3c4;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
}
.single__details--functions-edit:hover {
  background: #3cafc0;
}
.single__details--functions-delete {
  border: none;
  background: #e03344;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
}
.single__details--functions-delete:hover {
  background: #df2a3c;
}
.single__wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
.single__image {
  width: 55rem;
}
.single__information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

.about {
  padding: 2rem 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.about__title {
  font-size: 100%;
}
.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  font-size: 85%;
  padding: 1rem;
  border-radius: 0.4rem;
}
.about__wrapper--purplejam {
  background: #5E3289;
}
.about__wrapper--orangereds {
  background: #e03344;
}
.about__wrapper--selectiveyellow {
  background: #efbf0d;
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  height: 77vh;
}
.create__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 2rem;
  background: #e03344;
  width: 60rem;
  border-radius: 1rem;
}
.create__form--title {
  font-size: 120%;
}
.create__form--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
}
.create__form--label {
  font-size: 85%;
}
.create__form--input {
  border: none;
  padding: 1rem;
  width: 100%;
  font-size: 90%;
  background: #e34958;
  color: #fff;
}
.create__form--input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.create__form--input:focus {
  outline: none;
}
.create__form--submit {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.create__form--submit-button {
  border: none;
  background: #efbf0d;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
}
.create__form--submit-button:hover {
  background: #e5b70c;
}

.newsform {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 76vh;
}
.newsform__form {
  background: #e03344;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 2rem 3rem;
  width: 60rem;
  border-radius: 0.4rem;
}
.newsform__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
  width: 100%;
}
.newsform__label {
  font-size: 90%;
}
.newsform__input {
  border: none;
  font-size: 100%;
  padding: 0.4rem 0.6rem;
  width: 100%;
  background: #e55664;
  color: #fff;
}
.newsform__input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.newsform__input:focus {
  outline: none;
}
.newsform__textarea {
  font-family: inherit;
  border: none;
  font-size: 100%;
  padding: 0.4rem 0.6rem;
  width: 100%;
  background: #e55664;
  color: #fff;
}
.newsform__textarea::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.newsform__textarea:focus {
  outline: none;
}
.newsform__submit {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.newsform__submit--button {
  border: none;
  background: #43b3c4;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
}
.newsform__submit--button:hover {
  background: #3cafc0;
}

.news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 2rem 20rem;
}
.news__amount {
  width: 100%;
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 0.01rem solid rgba(255, 255, 255, 0.4);
  font-size: 80%;
}
.news__list {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}
.news__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  border-radius: 1rem;
  background: #e03344;
  text-decoration: none;
  color: #fff;
}
.news__item--figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.news__item--figure-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.news__item--wrapper {
  width: 100%;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.4rem;
}
.news__item--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
}
.news__item--info-title {
  font-size: 80%;
}
.news__item--info-description {
  font-size: 80%;
}
.news__item--details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.4rem;
  font-size: 75%;
  width: 100%;
  color: rgba(255, 255, 255, 0.4);
}
.news__item--details-date {
  font-size: 95%;
}
.news__post {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  padding: 0 20rem;
}
.news__post--figure {
  height: 100%;
}
.news__post--figure-image {
  width: 100%;
  object-fit: cover;
}
.news__post--wrapper {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.events {
  width: 40%;
  background: red;
}
.events__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.footer {
  padding: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
.footer__note {
  font-size: 85%;
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 27rem) {
  .header {
    padding: 1rem;
    font-size: 80%;
  }
  .header__logo--image {
    width: 8rem;
    object-fit: contain;
  }
  .header__navigation {
    gap: 0.4rem;
  }
  .header__user--create {
    padding: 0.4rem;
    font-size: 65%;
  }
  .home {
    padding: 0 1rem;
  }
  .events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: none;
  }
  .events__form {
    background: blue;
  }
  .events__pagination {
    width: 100%;
    padding: 0 10rem;
  }
  .events__wrapper .tile__wrapper .col-md-3 {
    width: 100%;
  }
  .events__wrapper .tile__wrapper .tile__content .calendar-item__date {
    font-size: 100%;
  }
  .events__wrapper .tile__wrapper .tile__content .calendar-item__title {
    font-size: 120%;
    color: #fff;
  }
  .events__wrapper .tile__wrapper .tile__content .calendar-item__text {
    font-size: 100%;
  }
  .welcome {
    padding: 0 4rem;
    width: 100%;
  }
  .welcome__link {
    width: 100%;
  }
  .posts {
    padding: 0 1rem;
  }
  .single {
    padding: 1rem;
    height: 83vh;
    justify-content: start;
  }
  .single__details {
    justify-content: center;
    padding: 0;
  }
  .single__wrapper {
    flex-direction: column;
    gap: 1rem;
  }
  .single__image {
    width: 100%;
  }
  .single__information {
    align-items: center;
    gap: 1rem;
  }
  .single__information--text {
    text-align: center;
  }
  .about {
    padding: 0 1rem;
  }
  .create {
    min-height: 83vh;
    justify-content: start;
    padding: 8rem 1rem;
    width: 100%;
  }
  .create__form {
    gap: 1rem;
    width: 100%;
  }
  .newsform {
    height: 83vh;
    align-items: start;
    padding: 2rem;
  }
  .news {
    padding: 0 1rem;
    height: 83vh;
    justify-content: start;
  }
  .news__list {
    padding: 0 4rem;
    justify-content: center;
  }
  .news__item {
    width: 100%;
  }
  .news__item--info-title {
    font-size: 120%;
  }
  .news__item--info-description {
    font-size: 100%;
  }
  .news__post {
    padding: 0;
    flex-direction: column;
    gap: 0;
    height: 83vh;
  }
  .news__post--figure {
    width: 100%;
    padding: 1rem;
  }
  .news__post--figure-image {
    width: 100%;
  }
  .news__post--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
  }
  .footer {
    justify-content: center;
  }
}

/*# sourceMappingURL=app.css.map */
