*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: #020d16;
  color: #fff;
  font-family: "Roboto";
  font-size: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.login__form {
  background: #e03344;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
}
.login__form--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
}
.login__form--label {
  font-size: 80%;
}
.login__form--input {
  border: none;
  padding: 0.4rem;
  font-size: 90%;
  border-radius: 0.4rem;
}
.login__form--remember {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 80%;
}
.login__form--remember-checkbox {
  appearance: none;
  background: white;
  width: 1.4rem;
  aspect-ratio: 1/1;
  border-radius: 0.2rem;
}
.login__form--remember-checkbox:checked {
  background: #5E3289;
}
.login__form--request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 1rem;
}
.login__form--request-link {
  font-size: 80%;
  color: #fff;
  text-decoration: none;
}
.login__form--request-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #43b3c4;
}
.login__form--submit {
  background: #5E3289;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
  background: #020d16;
  border: none;
}
.login__form--submit:hover {
  background: #592f82;
}
.login__form--submit:hover {
  background: #03131f;
}

.header {
  padding: 1rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #020a11;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo--image {
  width: 12rem;
  object-fit: contain;
}
.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header__link {
  text-decoration: none;
  color: #fff;
  font-size: 80%;
}
.header__link:hover {
  cursor: pointer;
  color: #efbf0d;
}
.header__user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header__user--name {
  text-transform: uppercase;
  font-size: 80%;
}
.header__user--wrapper {
  position: relative;
}
.header__user--wrapper:hover .header__user--options {
  display: flex;
}
.header__user--create {
  border: none;
  background: #efbf0d;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
  font-size: 75%;
}
.header__user--create:hover {
  background: #e5b70c;
}
.header__user--options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: #efbf0d;
  display: none;
  position: absolute;
  width: 100%;
}
.header__user--options-option {
  padding: 0.2rem;
  text-decoration: none;
  color: #fff;
  border-bottom: 0.2rem solid white;
  width: 100%;
}
.header__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 80%;
}
.header__auth--login {
  text-decoration: none;
  color: #fff;
  background: #43b3c4;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
}
.header__auth--login:hover {
  background: #3cafc0;
}
.header__auth--register {
  text-decoration: none;
  color: #fff;
  background: #e03344;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
}
.header__auth--register:hover {
  background: #df2a3c;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  width: 100%;
  padding: 2rem 20rem;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}
.heading__video {
  width: 100%;
}
.heading__info {
  background: #5E3289;
  padding: 2rem;
  border-radius: 0.4rem;
}

.welcome {
  width: 100%;
  padding: 2rem 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.welcome__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.welcome__item {
  background: #e03344;
  padding: 1rem;
  border-radius: 0.4rem;
}
.welcome__item--title {
  font-size: 100%;
}
.welcome__item--info {
  font-size: 90%;
}

.posts {
  width: 100%;
  padding: 0 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.1rem;
}
.posts__amount {
  color: #a19f9f;
  font-size: 80%;
}
.posts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  border-top: 0.1rem solid #a19f9f;
}

.post {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding: 1rem 0;
}
.post__image {
  height: 15rem;
  width: 18rem;
  object-fit: cover;
}
.post__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.2rem;
}
.post__info--link {
  text-decoration: none;
  color: #fff;
}
.post__info--link-title {
  font-size: 140%;
}
.post__info--link-title:hover {
  cursor: pointer;
  color: #efbf0d;
}
.post__info--intro {
  color: #a19f9f;
  font-size: 90%;
}

.single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem 20rem;
  gap: 2rem;
}
.single__details {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
.single__details--functions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.single__details--functions-edit {
  text-decoration: none;
  background: #43b3c4;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
}
.single__details--functions-edit:hover {
  background: #3cafc0;
}
.single__details--functions-delete {
  border: none;
  background: #e03344;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
}
.single__details--functions-delete:hover {
  background: #df2a3c;
}
.single__wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
.single__image {
  width: 55rem;
}
.single__information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

.about {
  padding: 2rem 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.about__title {
  font-size: 100%;
}
.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  font-size: 85%;
  padding: 1rem;
  border-radius: 0.4rem;
}
.about__wrapper--purplejam {
  background: #5E3289;
}
.about__wrapper--orangereds {
  background: #e03344;
}
.about__wrapper--selectiveyellow {
  background: #efbf0d;
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.create__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
}
.create__form--input {
  border: none;
  padding: 1rem;
  font-size: 90%;
}
.create__form--submit {
  border: none;
  background: #efbf0d;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
}
.create__form--submit:hover {
  background: #e5b70c;
}

.newsform {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.newsform__form {
  background: #e03344;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 2rem 3rem;
  width: 60rem;
  border-radius: 0.4rem;
}
.newsform__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
  width: 100%;
}
.newsform__label {
  font-size: 90%;
}
.newsform__input {
  border: none;
  font-size: 100%;
  padding: 0.4rem 0.6rem;
  width: 100%;
  background: #e55664;
  color: #fff;
}
.newsform__input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.newsform__input:focus {
  outline: none;
}
.newsform__textarea {
  font-family: inherit;
  border: none;
  font-size: 100%;
  padding: 0.4rem 0.6rem;
  width: 100%;
  background: #e55664;
  color: #fff;
}
.newsform__textarea::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.newsform__textarea:focus {
  outline: none;
}
.newsform__submit {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.newsform__submit--button {
  border: none;
  background: #43b3c4;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  font-size: 80%;
  border-radius: 0.2rem;
}
.newsform__submit--button:hover {
  background: #3cafc0;
}

.news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 2rem 20rem;
}
.news__amount {
  width: 100%;
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 0.01rem solid rgba(255, 255, 255, 0.4);
  font-size: 80%;
}
.news__list {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}
.news__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  border-radius: 1rem;
  background: #e03344;
  text-decoration: none;
  color: #fff;
}
.news__item--figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.news__item--figure-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.news__item--wrapper {
  width: 100%;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.4rem;
}
.news__item--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
}
.news__item--info-title {
  font-size: 80%;
}
.news__item--info-description {
  font-size: 80%;
}
.news__item--details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.4rem;
  font-size: 75%;
  width: 100%;
  color: rgba(255, 255, 255, 0.4);
}
.news__item--details-date {
  font-size: 95%;
}
.news__post {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  padding: 0 20rem;
}
.news__post--figure {
  height: 100%;
}
.news__post--figure-image {
  width: 100%;
  object-fit: cover;
}
.news__post--wrapper {
  padding: 1rem;
  background: blue;
  width: 100%;
  height: 100%;
}

.events {
  width: 40%;
  background: red;
}
.events__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/*# sourceMappingURL=app.css.map */
