@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.footer{
    padding: 2rem;
    display: flex;
    justify-content: end;
    align-items: center;

    &__note{
        font-size: 85%;
        color: rgba(map-get(variables.$baseVars, "color"), 0.4);
    }
}