@use "variables";
@use "mixins";

@media screen and (max-width: 80rem){
    .home{
        flex-direction: column;
        width: 100%;

    }

    .heading{
        width: 100% !important;

        &__video{
            width: 100%;
        }
    }

    .events{
        width: 100%;
    }

    .welcome{
        flex-direction: column;
    }
}

@media screen and (max-width: 27rem){
    .header{
        padding: 1rem;
        font-size: 80%;

        &__logo{

            &--image{
                width: 8rem;
                object-fit: contain;
            }
        }

        &__navigation{
            gap: 0.4rem;
        }

        &__user{
            &--create{
                padding: 0.4rem;
                font-size: 65%;
            }
        }
    }

    .home{
        padding: 0 1rem;
    }

    .events{
        @include mixins.flexBox;
        flex-direction: column;
        width: 100%;
        background: none;

        &__form{
            background: blue;
        }

        &__pagination{
            width: 100%;
            padding: 0 10rem;
        }
    }

    .events__wrapper .tile__wrapper .col-md-3{
        width: 100%;
    }

    
    .events__wrapper .tile__wrapper .tile__content .calendar-item__date{
        font-size: 100%;
    }

    .events__wrapper .tile__wrapper .tile__content .calendar-item__title{
        font-size: 120%;
        color: map-get(variables.$baseVars, "color");
    }

    
    .events__wrapper .tile__wrapper .tile__content .calendar-item__text{
        font-size: 100%;
    }

    .welcome{
        padding: 0 4rem;
        width: 100%;

        &__link{
            width: 100%;
        }
    }

    .posts{
        padding: 0 1rem;
    }

    .single{
        padding: 1rem;
        height: 83vh;
        justify-content: start;

        &__details{
            justify-content: center;
            padding: 0;
        }

        &__wrapper{
            flex-direction: column;
            gap: 1rem;
        }

        &__image{
            width: 100%;
        }

        &__information{
            align-items: center;
            gap: 1rem;

            &--text{
                text-align: center;
            }
        }
    }

    .about{
        padding: 0 1rem;
    }

    .create{
        min-height: 83vh;
        justify-content: start;
        padding: 8rem 1rem;
        width: 100%;

        &__form{
            gap: 1rem;
            width: 100%;
        }
    }

    .newsform{
        height: 83vh;
        align-items: start;
        padding: 2rem;
    }

    .news{
        padding: 0 1rem;
        height: 83vh;
        justify-content: start;

        &__list{
            padding: 0 4rem;
            justify-content: center;
        }

        &__item{
            width: 100%;

            &--info{
                &-title{
                    font-size: 120%;
                }
                &-description{
                    font-size: 100%;
                }
            }
        }

        &__post{
            padding: 0;
            flex-direction: column;
            gap: 0;
            height: 83vh;

            &--figure{
                width: 100%;
                padding: 1rem;

                &-image{
                    width: 100%;
                }
            }

            &--description{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 1rem;
            }
        }
    }

    .footer{
        justify-content: center;
    }
}