$baseVars: (
    "background": #020d16,
    "color": #fff,
    "font": "Roboto"
);

$headerVars: (
    "background": #5E3289,
    "color": red
);

$colorVars: (
    "purplejam": #5E3289,
    "orangereds": #e03344,
    "fountainblue": #43b3c4,
    "selectiveyellow": #efbf0d
);

$accentVars: (
    "greycolor": #a19f9f
);