@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.single{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 2rem 20rem;
    gap: 2rem;

    &__details{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;

        &--functions{
            @include mixins.flexBox;
            gap: 1rem;

            &-edit{
                text-decoration: none;
                @include mixins.bluebutton;
            }

            &-delete{
                border: none;
                @include mixins.redbutton;
            }
        }
    }

    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 2rem;
    }

    &__image{
        width: 55rem;
    }

    &__information{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 2rem;
    }
}